.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%; /* 3/4 szerokości ekranu */
  height: 75%;
  max-width: 80%; /* maksymalna szerokość modalu */
  background-color: rgb(37, 138, 201);
  color: black;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
